.userRegisterImg {
  border-radius: 10px;
  
  margin-bottom: 20px;
  height:150px;
}

.information-form {
  height: 20%;
  margin: 10px;
}

.form-container {
  background-color: rgb(34, 79, 82);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 30%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-container {
  width: 60%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

.information-form input{
background-color: red;
}


.input-container button {
  margin-bottom: 10px;
}

.principal-card-container {
  background-color: rgb(34, 79, 82);
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}


h1 {
  color: white;
  font-size: 60px;

}
h2 {
  color: white;
  font-size: 50px;

}

.user-card-container {
  border-radius: 10px;
  background-color: white;
  width: 320px;
  height: 480px;
  display: inline-block;
  margin: 10px;
  margin-bottom: 20px;
}

.userImg {
  height: 30%;
  margin: 10px;
  border-radius: 10px;
}

footer p {
  height: 100px;
  height: 10%;
  display: flex;
  text-decoration: underline;
  text-shadow: #292323;
  color: white;
  font-size: 20px;
}

footer div {
  background: rgb(58, 54, 54);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center
}

.unilogo {
  padding: 10px;
  height:100px
}